<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- formato de lista -->
  <!-- <ion-list>
    <ion-item-sliding *ngFor="let car of cars">
      <ion-item>
        <h2>{{ car.name }}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(car.key)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
        <button ion-button color="info" (click)="edit(car)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <ion-card *ngFor="let car of cars">

    <ion-item>
      <h1>{{ car.name }}</h1>
      <p>{{ car.brand + ' - ' + car.model | titlecase }}</p>
    </ion-item>

    <img *ngIf="car.img" [src]="car.img">
    <img *ngIf="! car.img" src="../../assets/imgs/no-image.svg">

    <ion-item>
      <button ion-button icon-left clear small item-end (click)="edit(car)">
        <ion-icon name="create"></ion-icon>
        <div>Editar</div>
      </button>
      <button ion-button icon-left clear small item-end (click)="delete(car.key)">
        <ion-icon name="trash"></ion-icon>
        <div>Excluir</div>
      </button>
    </ion-item>

  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>